.header{
    font-weight: 900;
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2em;
    background-color:chocolate;
}

body {
    margin: 0;
    padding: 0;
}

.image{
    text-align: center;
}

.logo {
    background-color: chocolate;
}

.container{
    display: flex;
    padding: 2em;
}

ul {
    flex: 1;
    padding: 20px;
    background-color: coral;
}


h2 {
    flex: 1;
    padding: 20px;
    background-color: darkcyan;
}

img {
    border: solid coral 5px;
}

body {
    background-color:bisque;
}